/* =========================  HERO SECTION  ========================= */

.hero-split {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 100vh;
  padding: 0 6%;
  gap: 6rem;
}

.hero-left-content {
  max-width: 850px;
}

.hero-left-content h1 {
  font-size: clamp(3rem, 8vw, 8rem);
  font-weight: 900;
  letter-spacing: -4px;
  text-transform: uppercase;
  line-height: 0.95;
  
  background: linear-gradient(to bottom,
      #111827,
      #6b7280);
      
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-left-content p {
  margin-top: 5.5rem;
  font-size: 1.1rem;
  color: #4b5563;
  line-height: 1.6;
  max-width: 650px;
  margin-bottom: 4rem;
}

/* =========================  LARGE DESKTOP  ========================= */

@media (min-width: 1600px) {
  .hero-left-content h1 {
    font-size: 8.5rem;
    margin-bottom: 8vh;
  }
  
  .hero-left-content p {
    font-size: 1.35rem;
    line-height: 1.8rem;
    margin-bottom: 8vh;
  }
}

/* =========================   LAPTOP  ========================= */

@media (max-width: 1200px) {
  .hero-split {
    gap: 3rem;
  }
  
  .hero-left-content h1 {
    letter-spacing: -3px;
  }
}

/* =========================   TABLET   ========================= */

@media (max-width: 992px) {
  .hero-split {
    grid-template-columns: 1fr;
    text-align: center;
    min-height: auto;
    padding: 120px 6% 80px;
  }

  .hero-left-content {
    max-width: 100%;
    margin: auto;
  }
  
  .hero-left-content p {
    margin: 2rem auto 0;
    max-width: 600px;
  }
}

/* =========================   MOBILE   ========================= */

@media (max-width: 768px) {
  .hero-split {
    padding: 100px 7% 60px;
  }

  .hero-left-content h1 {
    font-size: clamp(2.8rem, 12vw, 5rem);
    letter-spacing: -2px;
  }

  .hero-left-content p {
    font-size: 1rem;
    line-height: 1.8;
    margin-top: 1.8rem;
  }
}

/* =========================   SMALL MOBILE   ========================= */

@media (max-width: 480px) {
  .hero-split {
    padding: 80px 6% 50px;
  }

  .hero-left-content h1 {
    font-size: 3.3rem;
    line-height: 1;
    letter-spacing: -2px;
  }

  .hero-left-content p {
    font-size: 1rem;
    line-height: 1.9;
  }
}

/* =========================   VERY SMALL DEVICES   ========================= */

@media (max-width: 360px) {
  .hero-left-content h1 {
    font-size: 2.8rem;
  }

  .hero-left-content p {
    font-size: 0.95rem;
  }
}